input[type=text] {
  width: 200px;
}
input.large {
  width: 500px;
}
input.small {
  width: 80px;
}
textarea.curl {
  font-family: monospace;
  width: 500px;
  height: 80px;
}
ul > li > label {
  display: block;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
.fields input[type=text] {
  width: 120px;
}
textarea.body {
  width: 500px;
  height: 120px;
}
textarea {
  width: 500px;
  height: 80px;
}
textarea.curl {
  width: 500px;
  height: 200px;
}
